.cover{
    height:"500px";
    width: "800px";
    background: purple;
    opacity: 1;
}
.cover{
    height:"500px";
    width: "800px";
    background: #CBC3E3;
    opacity: 1;
}
.font-white{
    color:white;
}