<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <link rel="stylesheet" href="style.css">
</head>
<body class="container">

<main>
  <div class="jumbotron cover2">
    <h1 class="font">Here you go</h1>
    <p class="font">Dimensions image</p>
    <div>
      <% for(var i=0; i<imgs.length; i++) {%>
        <p>
          <img src=<%= imgs[i] %> alt="Image" style="max-width: 1000px; max-height: 1000px;">
        </p>
      <% } %>
    </div>
  </div>
</main>

</body>

</html>